[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/personal/"]
        path = ~/.gitconfig-personal
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
